@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ETSU Housing App</h1>
    <p>Welcome to the Housing App. The purpose of this site is to help students find housing.</p>
</div>
