@page
@model ETSU_Housing.Pages.RoomNeededModel
@{
    ViewData["Title"] = "Room Needed";
}

<div>
    <h2>Room Needed</h2>
    <form>
        <label>Budget</label><br />
        <input type="number" id="budget" name="budget" /><br />
        <label>Gender</label><br />
        <input type="text" id="gender" name="gender"/><br />
        <label>Degree</label><br />
        <select id="degree" name="degree">
            <option value="undergraduate">Undergraduate</option>
            <option value="graduate">Graduate</option>
            <option value="doctorate">Doctorate</option>
        </select><br />
        <label>Major</label><br />
        <input type="text" id="major" name="major"/><br />
        <label>Description</label><br />
        <input type="text" id="description" name="descritpion" size="50"/><br />
        <input type="checkbox" id="agreement" name="agreement" />
        <label>I accept the <a class="" asp-area="" asp-page="/Terms">Terms of Use</a> & <a class="" asp-area="" asp-page="/Privacy">Privacy Policy</a></label><br />
        <input type="submit" value="Post"/>
    </form><br />
</div>